<!DOCTYPE HTML>
<html>
<head>
<title>Ambient RSS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/ambientRSS.css" rel="stylesheet">
</head>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jfeed.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ambient-rss.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.waitforimages/1.5/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ambient-flickr.js"></script>
<script type="text/javascript">
    var urls = {};
    urls.proxy = "{% url 'proxy' '0'%}";


    var g_feed;
    $(document).ready(function(){
        var abc = new ambientRSS.FeedCollection([],{url: "{% url 'proxy' 'http://feeds.abcnews.com/abcnews/topstories'%}"});
        var engadget = new ambientRSS.FeedCollection([],{url: "{% url 'proxy' 'http://www.engadget.com/rss.xml'%}"});
        var feed = new ambientRSS.ContentFeed();
        feed.addFeed(abc);
        feed.addFeed(engadget);
        abc.fetch();
        engadget.fetch({success: function(){
            feed.start();
        }});
        var flickrFeed = new ambientRSS.flickr.FlickrTagsBackground({tags:["beautiful","landscape","morning","-fantasy","-face","-eyes","-ufo"]});

    });
</script>
<body>
<div id="ambient-flickr" class="background-layer">
    <div class="flickr-front"></div>
    <div class="flickr-back"></div>
    <div class="flickr-tint-white"></div>
</div>
<div id="front" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="content-block">
        </div>
    </div>
</div>
<div id="back" class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="content-block">
        </div>
    </div>
</div>
</body>
</html>
